[submodule "Trinity/vendor/spdlog"]
	path = Trinity/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Trinity/vendor/glfw/glfw"]
	path = Trinity/vendor/glfw/glfw
	url = https://github.com/ThatTanishqTak/glfw.git
[submodule "Trinity/vendor/imgui"]
	path = Trinity/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui
