[submodule "Trinity/vendor/glm"]
	path = Trinity/vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Trinity/vendor/spdlog"]
	path = Trinity/vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "Trinity/vendor/stb"]
	path = Trinity/vendor/stb
	url = https://github.com/ThatTanishqTak/stb.git
[submodule "Trinity/vendor/entt"]
	path = Trinity/vendor/entt
	url = https://github.com/ThatTanishqTak/entt.git
